.carousel-item {
  width: 100%;
  height: 100vh;

  & img {
    height: 100vh;
    background-size: cover;
    filter: blur(2px);
  }
}

.header-text {
  color: #fff;
  position: absolute;
  z-index: 10;
  font-family: "Freehand", cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-size: 6rem;

  @media (max-width: 700px) {
    font-size: 4rem;
  }
}

.navbar-brand {
  color: chocolate;
  font-family: "Freehand", cursive;
}

.trip-description {
  //   margin-top: 20px;
  color: #000;
  width: 95%;
  margin: 20px auto 0 auto;
  padding: 1rem;
  text-align: justify;
  background-image: url("Images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
  background-size: cover;

  .description {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
  }
}
